.nav {
    grid-area: nav;
    padding: 20px;
    background-color: gainsboro;
    color: azure;
}
.buttons{
    display: flex;
    flex-direction: column;
    padding-left: 70px;
}

.item a {
    color: #2F4F4F;
    text-decoration: none;
}

.itemSettings a{
    margin-bottom: 20px;
    color: #2F4F4F;
    text-decoration: none;
}

.itemSettings {
    margin-top: 20px;
}

.friends {
    margin-top: 20px;
    font-size: 25px;
    color: white;
}

.item a.active{
    color: brown;
}
