.header{
    grid-area:header;
    background-color: darkkhaki;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.header img{
    width:80px;
    border-bottom-left-radius: 15px;
}

